.gray_add_file{
    width: 380px;
    height: 570px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    img{
        width: 130px;
        height: 570px;
    }
}

.margin_top_comics{
     margin-top: 20px;
}