header{
    height: 75px;
    width: 100%;
    background-color: black;
    display: flex;
}

.dropdown-toggle{
    width: 40px;
    background-color: transparent;
    height: 30px;
    
    padding: 0;

    &:after {
        display: none;
    }

    &:hover, &:focus{
        background-color: black;
        border-color: black;
    }
}


.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle{
    background-color: black;
    border-color: black;
}

#dropdownMenuButton_menu {
    width: 35px;
    height: 35px;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
}

#big_menu_hidden {
    top: -5px !important;
    left: 0px !important;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0;
    background-color: rgba(0,0,0,0.8);
    padding: 0;
    border: 0;
}

.close_x_icon {
    position: absolute;
    left: 385px;
    width: 20px;
    top: 20px;
    cursor: pointer;
}

#big_menu_hidden>.menu_white {
    width: 365px;
    background: black;
    height: 100%;
    overflow-y: none;
    color: white;
}


.app_logo{
    width: 150px;
    height: 70px;
}

.login_rutes i{
    font-size: 1.5em;
    margin-right: 5px;
}

.wrapper_menu_items{
    width: 80%;
    margin: auto;
    padding-top: 20px;
    p.ttL_{
        font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    }
    ul{
        padding: 0;
        list-style: none;
        margin-top: 10px;
    }
}


